#navBar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    background-color: var(--white);
    padding: 1rem;
}

#navBar ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
}

#navBar h1, #navBar a{
    color: var(--black);
}

#navBar a{
    border-bottom: 1px solid transparent;
    transition: border-bottom .5s;
}

#navBar a:hover{
    border-bottom: 1px solid var(--black);
}

#navBar h1{
    font-size: 1.5rem;
    font-weight: 500;
    margin: .5rem 1rem;
}

#navBar-actions{
    width: 12rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#button-theme{
    padding: .5rem;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 0 transparent;
    transition: box-shadow .5s;
}

#button-theme:hover{
    box-shadow: 0 0 .5rem var(--dimGray);
}


