@media screen and (min-width: 1024px) {
    #section-about{
        height: 100vh;
        padding: 2rem 16rem;
        background-color: var(--black);
    }
    #section-about article{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 2rem;
    }

    #section-about h1{
        font-size: 3rem;
        text-align: center;
        color: var(--white);
    }
    #section-about p{
        font-size: 1.2rem;
        color: white;
    }
    #section-about a{
        border: 1px solid var(--white);
        color: var(--white);
        padding: 1rem 6rem;
        border-radius: .5rem;
        box-shadow: 0 0 0 transparent;
        transition: box-shadow .5s;
    }
    #section-about a:hover{
        box-shadow: 0 0 .5rem var(--paleAzure);
    }

    #section-about input, #section-about textarea{
        border-radius: .5rem;
    }
}

@media screen and (max-width: 1024px) {

    #section-about{
        height: 100vh;
        padding: 2rem 8rem;
        background-color: var(--black);
    }
    #section-about article{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        gap: 2rem;
    }
    #section-about h1{
        font-size: 2rem;
        text-align: center;
        color: var(--white);
    }
    #section-about p{
        font-size: 1rem;
        color: var(--white);
    }
    #section-about a{
        border: 1px solid var(--white);
        color: var(--white);
        padding: 1rem 6rem;
        border-radius: .5rem;
    }
}

@media screen and (max-width: 768px) {
    #section-about{
        padding: 2rem 8rem;
    }
    #section-about article{
        gap: 1.5rem;
    }
    #section-about a{
        padding: 1rem 4rem;
    }
}

@media screen and (max-width: 576px) {
    #section-about{
        padding: 2rem 4rem;
    }
    #section-about a{
        padding: 1rem 2rem;
    }
}


@media screen and (max-width: 480px) {
    #section-about{
        height: 100vh;
        padding: 1.5rem;
    }
    #section-about h1{
        font-size: 1.5rem;
    }
}