@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --white: #f5f5f5;
    --black: #121212;
    --appleGreen: #72b01d;
    --mintGreen: #daffef;
    --fontSize: 1rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-size: var(--fontSize);
    scroll-behavior: smooth;
    font-family: "Montserrat", sans-serif;
}

button{
    padding: 1rem;
    border: 1px solid var(--black);
    border-radius: 1.5rem;
    transition: .5s;
    box-shadow: 0 0 0 transparent;
}

button:hover{
    box-shadow: 0 0 .5rem var(--black);
    background-color: var(--black);
}

a{
    color: var(--black);
    padding: 1rem;
}

section{
    height: 100vh;
    border: 1px solid var(--black);
}